html, body {
	height: 100%;
	margin: 0;
}

body {
	font-family: "Titillium Web", sans-serif;
	font-weight: 100;

    background: url('/static/colorful-blur.jpg') ghostwhite no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
}

h1 {
	font-size: 50px;
	margin-bottom: 20px;
}

label {
	font-weight: 100;
}

p {
	margin: 10px;
}

li, label, p {
	font-size: 16px;
}

li.hover {
	font-weight: bold;
	cursor: pointer;
}

input {
	color: black;
	width: 370px;
}

#title-form-msg {
	text-align: center;
	color: white;
}

#url-text {
	color: black;
}

#main-wrapper {
	margin: 20px 80px;
}

#middle {
	margin-bottom: 20px;
	padding: 20px 20px;
	background: rgba(255,255,255,0.8);
}

#summary {
	float: left;
	overflow: scroll;
	height: 500px;
}

#code {
	float: right;
	overflow: scroll;
	height: 500px;
}

iframe {
	width: 100%;
	height: 500px;
	display: block;
	margin: 20px auto;
}

pre {
	white-space: pre-wrap;
}

.highlight {
	color: red;
	font-weight: bold;
}

.vertical-center {
	min-height: 100%;
	min-height: 100vh;

	display: flex;
	align-items: center;
}