<!DOCTYPE html>
<html>
<head>
	<title>Theresa Cay's Slack Challenge</title>
	<link rel="stylesheet" type="text/css" href="/static/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</head>
<body>
	<h1>Hello, world!</h1>

	<form action="/" method="POST">
		<label>Please type in a URL to preview
			<input type="text" name="url" placeholder="http://www.theresacay.com" required>
		</label>

		<input type="submit">
	</form>
	<p>{{ msg }}<p>

	<div>
		<ul>
		{% for tag, count in tags_and_count.iteritems() %}
			<li>{{ tag }}, {{ count }}</li>
		{% endfor %}
		</ul>
	</div>

	<div>
		<pre><code id="source_code">{{ source_code }}</code></pre>
	</div>

	<div>
		<iframe id="iframe" src=""></iframe>
	<div>

	<script id="my_string">
	var url = "{{ url }}";
	</script>
	<script src="/static/script.js"></script>
</body>
</html>